<div style="width: 100%; height: 100%">
  <!-- input element used for typing the search  -->
  <mat-form-field class="fullWidht">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" class="ctw-input" autocomplete="off" data-ctw-ino="1">
  </mat-form-field>
  <mat-progress-spinner mode="indeterminate" *ngIf="ectIsProgressing"></mat-progress-spinner>
  <!-- div element used for showing the search results -->
  <div class="ctw-window" data-ctw-ino="1" style="overflow: auto">
  </div>
</div>
