.modeler-screen {
  height: 100%;
  background-image: url('/assets/ipaac-logo-symbolic-yellow-10.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
}
.gallery-screen {
  height: 100%;
  background-image: url('/assets/ipaac-logo-symbolic-yellow.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
}
