@use '~@angular/material' as mat;
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

$_default_primary-color: #006666;
$_default_primary-color-light: #00cccc;
$_default_primary-color-dark: #003333;
$_default_primary-color-text: #000;

$_default_secondary-color: #004d5f;
$_default_secondary-color-light: #3e798c;
$_default_secondary-color-dark: #002535;
$_default_secondary-color-text: #fff;

$_default_primary-palette: (
        50: lighten($_default_primary-color, 50%),
        100: lighten($_default_primary-color, 40%),
        200: lighten($_default_primary-color, 30%),
        300: lighten($_default_primary-color, 20%),
        400: lighten($_default_primary-color, 10%),
        500: $_default_primary-color,
        600: darken($_default_primary-color, 10%),
        700: darken($_default_primary-color, 20%),
        800: darken($_default_primary-color, 30%),
        900: darken($_default_primary-color, 40%),
        A100: $_default_primary-color-light,
        A200: lighten($_default_primary-color, 30%),
        A400: lighten($_default_primary-color, 20%),
        A700: darken($_default_primary-color, 20%),
        contrast: (
                50: opacify(black, .57),
                100: opacify(black, .57),
                200: opacify(black, .57),
                300: opacify(black, .57),
                400: opacify(black, .57),
                500: $_default_primary-color-text,
                600: opacify(white, .63),
                700: opacify(white, .96),
                800: opacify(white, .96),
                900: opacify(white, .96),
                A100: opacify(black, .57),
                A200: opacify(black, .57),
                A400: opacify(black, .57),
                A700: opacify(white, .96)
        )
);

$_default_secondary-palette: (
        50: lighten($_default_secondary-color, 50%),
        100: lighten($_default_secondary-color, 40%),
        200: lighten($_default_secondary-color, 30%),
        300: lighten($_default_secondary-color, 20%),
        400: lighten($_default_secondary-color, 10%),
        500: $_default_secondary-color,
        600: darken($_default_secondary-color, 10%),
        700: darken($_default_secondary-color, 20%),
        800: darken($_default_secondary-color, 30%),
        900: darken($_default_secondary-color, 40%),
        A100: lighten($_default_secondary-color, 40%),
        A200: lighten($_default_secondary-color, 30%),
        A400: lighten($_default_secondary-color, 20%),
        A700: darken($_default_secondary-color, 20%),
        contrast: (
                50: opacify(white, .64),
                100: opacify(white, .64),
                200: opacify(white, .64),
                300: opacify(white, .64),
                400: opacify(white, .64),
                500: $_default_secondary-color-text,
                600: opacify(white, .46),
                700: opacify(white, .46),
                800: opacify(white, .46),
                900: opacify(white, .46),
                A100: opacify(white, .64),
                A200: opacify(white, .64),
                A400: opacify(white, .64),
                A700: opacify(white, .46)
        )
);

@function get-default-typography-config() {
  @return mat.define-typography-config($font-family: '"Roboto Condensed", sans-serif');
}

@function get-default-primary-palette() {
  @return mat.define-palette($_default_primary-palette, 500, 100, 900);
}

@function get-default-accent-palette() {
  @return mat.define-palette($_default_secondary-palette, 500, 100, 900);
}

@function get-default-warn-palette() {
  @return mat.define-palette(mat.$red-palette);
}

@function get-default-gallery-background-image() {
  @return url('/assets/default-logo.png');
}

@function get-default-modeler-background-image() {
  @return url('/assets/default-logo.png');
}

@function get-default-theme() {
  @return (
          theme: mat.define-light-theme((
                  color: (
                          primary: get-default-primary-palette(),
                          accent: get-default-accent-palette(),
                          warn: get-default-warn-palette()
                  ),
                  typography: get-default-typography-config()
          )),
          background: (
                  gallery: get-default-gallery-background-image(),
                  modeler: get-default-modeler-background-image()
          )
  );
}
