@import "default-theme";

$default-theme: get-default-theme();
$default-typography: get-default-typography-config();
$default-primary-palette: get-default-primary-palette();
$default-accent-palette: get-default-accent-palette();
$default-warn-palette: get-default-warn-palette();
