@use '~@angular/material' as mat;
@import "assets/scss/theme/theming";

// Fore- and background color palettes
$foreground-palette: map-get($custom-theme, foreground);
$background-palette: map-get($custom-theme, background);

// Colors of the theme
$primary-color: mat.get-color-from-palette($custom-primary-palette);
$accent-color: mat.get-color-from-palette($custom-accent-palette);
$warn-color: mat.get-color-from-palette($custom-warn-palette);

// Color variables
$text-color: map-get($foreground-palette, text);
$text-color-disabled: map-get($foreground-palette, disabled-text);
$text-color-hint: map-get($foreground-palette, hint-text);
$text-color-secondary: map-get($foreground-palette, secondary-text);
