// Import Angular Material functions (theme customization)
@use '~@angular/material' as mat;

// import Theming
@import "assets/scss/theme/theming";

// Import custom mixins
@import "assets/scss/mixins";

// Import W3.CSS lib
@import "~w3-css/w3.css";

@import "~bpmn4cp/dist/assets/vendor/bpmn-js/diagram-js.css";
@import "~bpmn4cp/dist/assets/font/css/bpmn.css";

// Import ICD Embedded Coding Tool Styles
@import '~@whoicd/icd11ect/style.css';

.default-theme {
  @include apply-theme($default-theme);
}

.ipaac-theme {
  @include apply-theme($ipaac-theme);
}

.vcare-theme {
  @include apply-theme($vcare-theme);
}

html,
body {
  // Set global box sizing
  @include box-sizing("border-box");
  height: 100%;
  padding: 0;
  margin: 0;
}


.actions {
  button {
    text-transform: uppercase;
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.avatar {
  + span {
    margin-left: 1em;
  }

  &,
  + span {
    display: inline-block;
    vertical-align: middle;
  }
}

.ng-fa-icon,
.app-flag-icon {
  &,
  + span {
    display: inline-block;
  }

  & + span {
    margin-left: .5em;
  }
}

img.avatar {
  $height: 2.5em;
  @include border-radius(50%);
  max-height: $height;
  padding: ($height * .1);
}

.mat-slider-thumb-label {
  right: -24px !important;
  top: -60px !important;
  width: 48px !important;
  height: 48px !important;
}
